body{
    margin: 0;
    background-color: yellow;
}
.container{
    text-align: center;
    padding: 0 10% 10%;
}
img{
    cursor: pointer;
    /* transform: rotate(30deg); */
    -webkit-transition: transform 0.1s ease;
}

#outer{
    /* background: yellow; */
    height: 15px;
    width: 300px;
    border: 3px solid black;
    margin: 0 auto;
    border-radius: 5px;
}
#inner{
    background: crimson;
    height: 100%;
    width: 100%;
}
p{
    font-style: italic;
    color: gray;
    text-decoration: underline;
}